## Working with Pandas
    1. Pandas Series - 1D data
    2. Pandas Dataframe - 2D data
    
    - Data import/ export
    - Data cleaning
    - Data manipulation, data aggregation, statistical analysis

In [1]:
import pandas as pd

In [20]:
# importing data with pandas
df = pd.read_csv("resources/datasets-1/datawh.csv")
df.shape

(20, 5)

In [6]:
df.to_json("datawh.json")

In [7]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality
0  30-04-2018          218       182         4            2
1  01-05-2018         2592       182         3            2
2  02-05-2018          509       439         4            0
3  03-05-2018         2439        53         5            1
4  04-05-2018          824       444         5            0

## Statistical analysis

In [8]:
df.describe()

       Temperature    Humidity   Pressure  Air Quality
count    20.000000   20.000000  20.000000    20.000000
mean   1461.200000  328.050000   2.950000     1.150000
std     834.100688  148.623323   1.820208     0.812728
min     109.000000   53.000000   0.000000     0.000000
25%     787.500000  186.500000   1.000000     0.750000
50%    1390.000000  342.500000   3.000000     1.000000
75%    2176.000000  440.000000   4.250000     2.000000
max    2945.000000  535.000000   5.000000     2.000000

In [9]:
df.mean()

Temperature    1461.20
Humidity        328.05
Pressure          2.95
Air Quality       1.15
dtype: float64

In [10]:
df.Temperature.mean(), df.Temperature.median(), df.Temperature.var(), df.Temperature.min()

(1461.2, 1390.0, 695723.9578947368, 109)

In [11]:
df.Temperature.max(), df.Temperature.std(), df.Temperature.skew(), df.Temperature.kurt()

(2945, 834.1006881035028, 0.11175266975855103, -1.0525996865252307)

## Data cleaning
- Handle duplicated rows/entries
    - check duplicity with context to key/identifier - drop duplicated entry, keep the latest one

- Handle missing values
    - the data is missing because it does not exist
        - we do not impute missing value,
        - Convert the column in binary / categorical variable

    - the data exists but is missing for some system/human error
        - if any column has more than 80% of values missing, drop that column
        - if any rows has more than 60% of values missing, drop that row
        - if the column has missing values less than 5%-20%, go for statistical imputations - mean/median/mode
        - else - go for ML based imputation
- Handle unwanted columns
- Handle outliers and unnatural values
    - if the % of outliers is less than 1% of data volume - you can consider dropping those rows
    - otherwise - capping - replacing outliers by nearest inliers.

In [12]:
df = pd.read_csv("resources/datasets-1/datawh_missing.csv")
df.shape

(23, 7)

In [13]:
df.head()

        Dates Temperature Humidity Pressure Air Quality  Day id  Vibration
0  30-04-2018         218      182        4           2       1         45
1  01-05-2018           ?      182        3           2       2         56
2  02-05-2018           .      439      NaN           0       3         45
3  03-05-2018        2439       53        5           1       4         23
4  04-05-2018         824      444        5         NaN       5         35

## Duplicate entries

In [14]:
# check for duplicated rows
df.duplicated().sum()

2

In [15]:
# to check which rows are duplicates
df[df.duplicated(keep=False)]

         Dates Temperature Humidity Pressure Air Quality  Day id  Vibration
19  19-05-2018         766      535        3           2      20         39
20  19-05-2018         766      535        3           2      20         39
21  19-05-2018         766      535        3           2      20         39

In [16]:
# drop the duplicates keeping the last entry
df.drop_duplicates(keep='last', inplace=True)

In [17]:
# check for duplicated rows
df.duplicated().sum()

0

## Handling missing data

In [19]:
# check for missing data
df.isnull().sum()

Dates          0
Temperature    0
Humidity       0
Pressure       2
Air Quality    1
Day id         0
Vibration      0
dtype: int64

In [ ]:
# drop the rows where more than 60% of values are missing, 7*0.6 = 4,
# we want to drop rows having less than or equal to 3 real values
print(df.shape)
df.dropna(thresh=4,inplace=True)
print(df.shape)

In [ ]:
df

In [ ]:
df.skew()

In [ ]:
df.Temperature.fillna(df.Temperature.mean(),inplace=True)
df.fillna(df.median(),inplace=True)

In [21]:
# check for missing data
df.isnull().sum()

Dates          0
Temperature    0
Humidity       0
Pressure       0
Air Quality    0
dtype: int64

### Handling unwanted column

In [23]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality
0  30-04-2018          218       182         4            2
1  01-05-2018         2592       182         3            2
2  02-05-2018          509       439         4            0
3  03-05-2018         2439        53         5            1
4  04-05-2018          824       444         5            0

In [ ]:
df.drop(columns=['Day id'], inplace=True)
df.head()

## Handling outliers and unnatural values
- boxplot approach
- z score approach
- skewness approach
    - if skewness > +1 or skewness < -1 == extreme outliers are present

In [ ]:
df.skew()

In [ ]:
df.Vibration.max()

In [22]:
df.Vibration.quantile(0.99)

AttributeError: 'DataFrame' object has no attribute 'Vibration'

In [ ]:
# check how many values are above 0.99 
(df.Vibration > df.Vibration.quantile(0.99)).sum()

In [ ]:
#dropping the rows where vibration values are higher than 99% of the column
df = df[df.Vibration < df.Vibration.quantile(0.99)]
df.skew()

In [ ]:
# check how many values are above 99%
(df.Pressure < df.Pressure.quantile(0.01)).sum()

In [ ]:
df.Pressure[df.Pressure < df.Pressure.quantile(0.01)] = df.Pressure.quantile(0.02)
df.skew()